inference_examples/
gradio_queue.db
logs/
CLIP/
taming-transformers/
dump/
outputs/
flagged/
*.egg-info
__pycache__
*.zip
*.ckpt
*.gif
*.pth
.ipynb_checkpoints/
src/
logs
.vscode/
im-examples/
mamba/build/
datasets
scratch/
tensorboard_logs/
wandb/
.wandb
*.pt
*.safetensors
*.bin
*.pkl
*.png
*.jpg
*.JPG
*.jpeg
*.npy
*.npz
*.glb
*.ipynb
*.distcp
env/
core.*
*.pth
./FlashDepth
FlashDepth/
*.cubin
*.llir
*.ptx
*.ttgir
*.ttir
flashdepth_claude/.triton_cache
*.tar.gz
flashdepth_claude/train_results/
flashdepth_claude/test_results/
*.log
flashdepth_claude/test_gear3/
flashdepth_claude/ppt_data/
*.mp4
